<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-people"></i> Liste des utilisateurs
                </div>
                <div class="card-body">
                    <p-table #dt [value]="users" [lazy]="true" [totalRecords]="totalElements" [paginator]="true" [rows]="10" (onLazyLoad)="loadUsersLazy($event)">
                        <ng-template pTemplate="header">
                            <tr>
                                <th [style.width.px]="50">Etat</th>
                                <th pSortableColumn="lastName">
                                    Nom
                                    <p-sortIcon field="lastName"></p-sortIcon>
                                    <input pInputText (click)="$event.stopPropagation()" placeholder="Filtrer" class="form-control form-control-sm" type="text" (input)="dt.filter($event.target.value, 'lastName', 'contains')">
                                </th>
                                <th pSortableColumn="firstName">
                                    Prenom
                                    <p-sortIcon field="firstName"></p-sortIcon>
                                    <input pInputText (click)="$event.stopPropagation()" placeholder="Filtrer" class="form-control form-control-sm" type="text" (input)="dt.filter($event.target.value, 'firstName', 'contains')">
                                </th>
                                <th>
                                    E-mail
                                    <input pInputText (click)="$event.stopPropagation()" placeholder="Filtrer" class="form-control form-control-sm" type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                                </th>
                                <th>
                                    Applications
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td class="text-center">
                                    <button type="button" (click)="changeUserStatus(user)" class="btn btn-sm" [class.btn-success]="user.active" [class.btn-default]="!user.active"
                                         pTooltip="Modifier l'état" tooltipPosition="top">
                                        <i class="fa" [class.fa-toggle-on]="user.active" [class.fa-toggle-off]="!user.active"></i>
                                    </button>
                                </td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.firstName}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <span class="badge badge-primary" *ngFor="let app of user.applications">
                                        {{ app.name }}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editUser(user)" class="btn btn-sm btn-warning" pTooltip="Modifier" tooltipPosition="top">
                                        <i class="fa fa-cog text-white"></i>
                                    </button>&nbsp;<button type="button" (click)="deleteUser(user)" class="btn btn-sm btn-danger" pTooltip="Supprimer" tooltipPosition="top">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer">
                    <button routerLink="/users/add" type="submit" class="btn btn-primary"><i class="icon-user-follow"></i> Ajouter</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>