<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <form class="card" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
                <div class="card-header">
                    <i class="fa fa-edit"></i> 
                    
                    <ng-container *ngIf="!editMode; else elseBlock">Ajout d'un nouvel utilisateur</ng-container>
                    <ng-template #elseBlock>Modification de l'utilisateur</ng-template>
                </div>
                <div class="card-body">
                    <h4>Informations de l'utilisateur</h4>
                    <div class="form-group">
                        <label class="form-col-form-label" for="input1">Nom de l'utilisateur</label>
                        <input formControlName="lastName" class="form-control" [class.is-invalid]="lastName.invalid && submitted" id="input1" placeholder="Saisir le nom">
                        <div class="invalid-feedback">Le nom est obligatoire</div>
                    </div>
                    <div class="form-group">
                        <label class="form-col-form-label" for="input2">Prénom de l'utilisateur</label>
                        <input formControlName="firstName" class="form-control" [class.is-invalid]="firstName.invalid && submitted" id="input2" placeholder="Saisir le prénom">
                        <div class="invalid-feedback">Le prénom est obligatoire</div>
                    </div>
                    <div class="form-group">
                        <label class="form-col-form-label" for="input3">Adresse mail</label>
                        <input formControlName="email" class="form-control" [class.is-invalid]="email.invalid && submitted" id="input3" placeholder="Saisir l'adress mail">
                        <div class="invalid-feedback" *ngIf="email.errors?.required">L'adresse e-mail est obligatoire</div>
                        <div class="invalid-feedback" *ngIf="email.errors?.email">L'adresse e-mail est incorrecte</div>
                    </div>
                    <div class="form-group">
                        <label class="form-col-form-label" for="input4">Société / Département</label>
                        <input formControlName="department" class="form-control" [class.is-invalid]="department.invalid && submitted" id="input4" placeholder="Saisir l'organisme auquel appartient l'utilisateur">
                        <div class="invalid-feedback">La Société / Département est obligatoire</div>
                    </div>
                    <h4>Applications autorisées</h4>
                    <div class="form-group" style="margin-top: 20px;">

                        <p-pickList [source]="sourceApps" [target]="targetApps" sourceHeader="Applications disponibles" targetHeader="Applications selectionnées" [responsive]="true"
                            filterBy="name" dragdrop="true" sourceFilterPlaceholder="Rechercher" targetFilterPlaceholder="Rechercher" [showSourceControls]="false" [showTargetControls]="false"
                            [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                            <ng-template let-app pTemplate="item">
                                <div class="ui-helper-clearfix">
                                    <div class="mk-picklist-item">{{app.name}}</div>
                                </div>
                            </ng-template>
                        </p-pickList>

                        <div class="invalid-feedback" style="display: block" *ngIf="submitted && targetApps.length == 0">Il faut affecter l'utilisateur à une application</div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn" [class.btn-success]="!editMode" [class.btn-warning]="editMode"><i class="fa fa-check"></i>
                        <ng-container *ngIf="!editMode; else elseButton">Enregistrer</ng-container>
                        <ng-template #elseButton>Modifier</ng-template>
                    </button>
                    &nbsp;<button routerLink="/users/list" type="submit" class="btn btn-default">
                            <i class="fa fa-times"></i> Annuler</button>
                </div>
            </form>
        </div>
        <!--/.col-->
    </div>
</div>
