<div class="animated fadeIn">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    </div>
  </nav>
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                  <p-table #dt [value]="orders" [paginator]="true" [rows]="10">
                      <ng-template pTemplate="header">
                          <tr>

                            <th>Status</th>
                              <th>Amount</th>
                              <th>Order Date</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-order>
                          <tr>
                              <td>{{order.orderStatusCode}}</td>
                              <td>{{order.orderAmount}}</td>
                              <td>{{order.orderDate}}</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
              <div class="card-footer">
              </div>
          </div>
      </div>
  </div>
</div>

