<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-screen-smartphone"></i> Liste des applications
                </div>
                <div class="card-body">
                    <p-table #dt [value]="applications" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Nom de l'application
                                    <input pInputText placeholder="Filtrer" class="form-control form-control-sm" type="text" (input)="dt.filter($event.target.value, 'name', 'contains')">
                                </th>
                                <th>AppId</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-app>
                            <tr>
                                <td>{{app.name}}</td>
                                <td>{{app.appId}}</td>
                                <td>{{app.description}}</td>
                                <td>
                                    <button type="button" (click)="editApp(app)" class="btn btn-sm btn-warning" pTooltip="Modifier" tooltipPosition="top">
                                        <i class="fa fa-cog text-white"></i>
                                    </button>&nbsp;<button type="button" (click)="deleteApp(app)" class="btn btn-sm btn-danger" pTooltip="Supprimer" tooltipPosition="top">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer">
                    <button routerLink="/applications/add" type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>