<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>{{ productInfo?.productName }}</strong>
    </div>
    <div class="card-body">
      <form name="form" #form="ngForm" (ngSubmit)="addToCart()">
        <div>
          <input hidden name="productId" [value]="productInfo?.productId" />
          <p>
            <strong>Description: </strong>{{ productInfo?.productDescription }}
          </p>
          <p>
            <strong>Price: </strong>
            <label id="price">{{ productInfo?.price | currency }}</label>
          </p>
          <p>
            <strong>Stock: </strong>{{ productInfo?.productStock }}
          </p>

          <label>
            <strong>Quantity: </strong>
            <input
              [(ngModel)]="count"
              (change)="validateCount()"
              type="number"
              name="count"
              required
              min="1"
              [max]="productInfo?.productStock"
            />
          </label>

          <p>
            <strong>Total: </strong>
            <label id="subtotal">{{
              count * productInfo?.price | currency
            }}</label>
          </p>
        </div>
        <button
          type="submit"
          [disabled]="!form.form.valid"
          *ngIf="productInfo?.productStock > 0; else offBlock"
          class="btn btn-primary btn-lg"
        >
          Add to Cart
        </button>
        <ng-template #offBlock
          ><a class="btn btn-secondary btn-lg disabled"
            >Unavailable</a
          ></ng-template
        >
      </form>
    </div>
  </div>
</div>
