<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4" *ngIf="loading; else activation">
            <div class="card-body p-4 text-center">
              <img src="assets/img/loading.svg" alt="Chargement" />
            </div>
          </div>

          <ng-template #activation>
            <div class="card mx-4" *ngIf="!expired && !badLink && !error">
              <form class="card-body p-4" *ngIf="!success" [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
                <h3>{{'ACTIVATE_ACCOUNT.INIT_PASSWORD' | translate}}</h3>
                <div class="alert alert-danger" role="alert" [@enterAnimation] *ngIf="!matchingPasswords() && passwordForm.pristine">
                   {{ 'ACTIVATE_ACCOUNT.PASSWORDS_NOT_MATCHING' | translate }}
                </div>
                <p class="text-muted">{{ 'ACTIVATE_ACCOUNT.SET_YOUR_PASSWORD' | translate }}</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" disabled class="form-control" placeholder="Email" value="{{verificationToken?.email}}">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="{{ 'ACTIVATE_ACCOUNT.PASSWORD' | translate }}" pPassword 
                  promptLabel="{{ 'ACTIVATE_ACCOUNT.SET_PASSWORD' | translate }}" weakLabel="{{ 'ACTIVATE_ACCOUNT.WEAK' | translate }}" mediumLabel="{{ 'ACTIVATE_ACCOUNT.AVERAGE' | translate }}" 
                  strongLabel="{{ 'ACTIVATE_ACCOUNT.STRONG' | translate }}">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="{{ 'ACTIVATE_ACCOUNT.REPEAT_PASSWORD' | translate }}" pPassword promptLabel="{{ 'ACTIVATE_ACCOUNT.SET_PASSWORD' | translate }}" weakLabel="{{ 'ACTIVATE_ACCOUNT.WEAK' | translate }}" mediumLabel="{{
                  'ACTIVATE_ACCOUNT.AVERAGE' | translate }}" strongLabel="{{ 'ACTIVATE_ACCOUNT.STRONG' | translate }}">
                </div>
                <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-block btn-primary">{{ 'ACTIVATE_ACCOUNT.SAVE_PASSWORD' | translate }}</button>
              </form>

              <div class="card-body p-4 text-center" *ngIf="success" [@enterAnimation]>
                <span class="display-1 text-success">
                  <i class="icon-check"></i>
                </span>

                <h1 class="text-success">
                   {{ 'ACTIVATE_ACCOUNT.SAVE_PASSWORD_SUCCESS' | translate }}
                </h1>
              </div>
            </div>

            <div class="card mx-4" *ngIf="expired">
              <div class="card-body p-4" *ngIf="!success">
                <h3>{{ 'ACTIVATE_ACCOUNT.RESEND_ACTIVATION_LINK' | translate }}</h3>
                <div class="alert alert-danger" role="alert">
                   {{ 'ACTIVATE_ACCOUNT.EXPIRED_ACTIVATION_LINK' | translate }}
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" disabled class="form-control" placeholder="Email" value="{{verificationToken?.email}}">
                </div>

                <button type="button" class="btn btn-block btn-success" (click)="resendActivationLink()">
                  <i class="fa fa-send"></i>
                  {{ 'ACTIVATE_ACCOUNT.RESEND_ACTIVATION_LINK' | translate }}
                </button>
              </div>

              <div class="card-body p-4 text-center" *ngIf="success" [@enterAnimation]>
                <span class="display-1 text-success">
                  <i class="icon-check"></i>
                </span>

                <h1 class="text-success">
                   {{ 'ACTIVATE_ACCOUNT.ACTIVATION_LINK_RESENT' | translate }}
                </h1>
              </div>
            </div>

            <div class="card mx-4" *ngIf="badLink">
              <div class="card-body p-4 text-center" [@enterAnimation]>
                <span class="display-1 text-danger">
                  <i class="icon-close"></i>
                </span>

                <h1 class="text-danger">
                   {{ 'ACTIVATE_ACCOUNT.INVALID_ACTIVATION_LINK' | translate }}
                </h1>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div>