// Here you can add other styles
.ui-table-thead th {
    text-align: center;
}


.mk-picklist-item {
    padding: 5px 1px 5px 10px;
}

.login-page {
    /* The image used */
    background-image: url("../assets/img/login-bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.text-success, h1.text-danger {
    font-weight: 300 !important;
}

.img-avatar {
  border-radius: 50em;
}